$primary: ("light": #e7ddff, "med": #7133ff, "base": #4E00FF);
$monotone: ("light": #ffffff, "base": #b9b9bf, "dark": #000000);
$success: ("light": #b7e4c7, "dark": #081c15);
$error: ("light": #ff8fa3, "dark": #590d22);

$filters: (
  "primaryMed": invert(22%) sepia(49%) saturate(7151%) hue-rotate(255deg) brightness(101%) contrast(102%),
  "primaryBase": invert(12%) sepia(95%) saturate(7155%) hue-rotate(261deg) brightness(96%) contrast(137%),
  "monotoneBase": invert(80%) sepia(5%) saturate(210%) hue-rotate(201deg) brightness(93%) contrast(91%),
);