$primary: ("light": #e7ddff, "med": #7133ff, "base": #4E00FF);
$monotone: ("light": #ffffff, "base": #b9b9bf, "dark": #000000);
$success: ("light": #b7e4c7, "dark": #081c15);
$error: ("light": #ff8fa3, "dark": #590d22);