@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-Regular.ttf") format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/Inter-Medium.ttf") format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: semi-bold;
  font-weight: 600;
  src: url("../fonts/Inter-SemiBold.ttf") format('ttf');
}

@font-face {
  font-family: 'Inter';
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/Inter-Bold.ttf") format('ttf');
}

@mixin fontNormal {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

@mixin fontMed {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

@mixin fontSemi {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

@mixin fontBold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}