body {
  background-color: #fff;
  padding: 0 24px;
}

main {
  display: flex;

  > div {
    &:last-child {
      margin-left: auto;
    }
  }
}

.btnDelete {
  > img {
    width: 12px;
    height: 12px;
  }
}